{:deps {;; krell uses old clojurescript v 1.10.844
        ;; To use latest clojurescript, we need include the org.clojure/data.json as per this issue
        ;; https://github.com/vouch-opensource/krell/issues/149
        ;; org.clojure/clojurescript   {:mvn/version "1.11.132"}
        ;; org.clojure/data.json {:mvn/version "2.5.1"}
        
        ;; krell uses this cljs version
        ;; org.clojure/clojurescript   {:mvn/version "1.10.844"}
        
        ;; io.vouch/krell {:mvn/version "0.5.4"} 
        ;; We use locally modified krell so that we can have index.js for main app
        ;; 'index.ios.autofill.extension.js' for the iOS AutoFill extension 
        io.vouch/krell {:local/root "../krell"}
        org.slf4j/slf4j-simple {:mvn/version "1.7.30"}
        re-frame/re-frame {:mvn/version "1.3.0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        hickory/hickory {:mvn/version "0.7.1"}
        reagent/reagent {:mvn/version "1.1.1"
                         :exclusions [cljsjs/react cljsjs/react-dom]}}

 ;; See https://clojure.org/reference/clojure_cli 
 ;; https://clojure.org/reference/clojure_cli#options (exec-opts, clj-opts,)

 ;; This is the paths for the main app and ios ext uses paths from alias 'ios-ext'
 :paths ["src" "target"]
 
 :aliases {:ios-ext
           {:paths ["cljs-ios-autofill-extension/src" "target-ios-autofill-extension"]}}}
