<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEVELOPMENT_TEAM</key>
	<string>$(DEVELOPMENT_TEAM)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.authentication-services-credential-provider-ui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).CredentialProviderViewController</string>
    
    <key>NSExtensionAttributes</key>
        <dict>
            <!-- Existing capabilities for passwords and passkeys -->
            <key>ASCredentialProviderExtensionCapabilities</key>
            <dict>
              <!-- 1. Password AutoFill -->
                  <key>ProvidesPasswords</key>
                  <true/>

                  <!-- 2. Passkey Registration -->
                  <key>ProvidesPasskeys</key>
                  <true/>

                  <!-- 3. Passkey Assertion (login with existing passkey) -->
                  <key>ProvidesPasskeyAssertions</key>
                  <true/>

                  <!-- 4. One-Time Codes (TOTP) — optional but common -->
<!--                  <key>ProvidesOneTimeCodes</key>-->
<!--                  <true/>-->

                  <!-- 5. Show config UI without a credential request -->
<!--                  <key>ProvidesConditionalPasskeys</key>-->
<!--                  <true/>-->


            </dict>

            
        </dict>
    
	</dict>
	<key>RCTNewArchEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialDesignIcons.ttf</string>
	</array>
</dict>
</plist>
