{:linters
 {:unused-namespace {:exclude [".*@rnp/.*" "react-native-gesture-handler" "react-native-vector-icons"]}
  :unresolved-symbol {:exclude [
                                confirm-delete-otp-field-dialog
                                setup-otp-action-dialog
                                otp-settings-dialog
                                start-page-storage-selection-dialog
                                auto-open-key-file-pick-required-info-dialog
                                auto-open-db-file-required-info-dialog
                                before-storage-selection-info-dialog
                                app-pin-lock-settings-dialog
                                update-and-show
                                update-with-map
                                dispatch-on-ok
                                show-with-state
                                show
                                close 
                                on-ok 
                                data 
                                state-m 
                                fields-value
                                fields-value-vec
                                init
                                
                                ActivityIndicator
                                Button
                                SafeAreaView
                                FlatList
                                KeyboardAvoidingView
                                Pressable
                                TouchableWithoutFeedback
                                TouchableHighlight
                                ScrollView
                                SectionList
                                View
                                Modal
                                StatusBar
                                TextInput
                                Text
                                Linking


                                Button
                                BottomNavigation
                                Checkbox
                                Checkbox.Item
                                Chip
                                Divider
                                Dialog
                                Dialog.Title
                                Dialog.Icon
                                Dialog.Content
                                Dialog.Actions
                                FAB
                                HelperText
                                IconButton
                                List.Section
                                List.Item
                                List.Icon
                                List.Subheader
                                Menu
                                Modal
                                Portal
                                Provider
                                Paragraph
                                ProgressBar
                                Snackbar
                                Searchbar
                                SegmentedButtons
                                Switch
                                TextInput
                                Text
                                TouchableRipple

                                GestureHandlerRootView
                                rnp-dialog]}

  :unresolved-var {:exclude [onekeepass.mobile.rn-components onekeepass.ios.autofill.rn-components 
                             onekeepass.mobile.events.dialogs]}
  ;;:unresolved-var {:exclude [onekeepass.mobile.rn-components dlg-events/confirm-delete-otp-field-dialog-data]}
  
  ;;:config-in-ns {onekeepass.mobile.background {:linters {:unresolved-symbol {:level :off}}}}
  ;;Following is not working 
  ;; :unused-import {:exclude [camel-snake-kebab.core]}
  }
 :skip-comments true}
